<h1 class="text-center">Editing Profile</h1>

<%= render 'form' %>

<p>Roles</p>
<% @user_roles.each do |role| %>
  <ul>
    <li><%= role %></li>
  </ul>
<% end %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
