<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @individual_review.user %>
</p>

<%= link_to 'Edit', edit_individual_review_path(@individual_review) %> |
<%= link_to 'Back', individual_reviews_path %>
