<style>
	.maintenance {
		text-align: center;
		padding: 200px;
	}
</style>
<div class="maintenance">
	<h2>This application is currently undergoing maintenance.</h2>
	<h2>Please check back shortly</h2>
</div>
