<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Review Completed</title>
</head>
<body>
	<p>Hi <%= @employee.name %>,</p>
	<p>This email is to notify you that your review has been completed and successfully submitted</p>
</body>
</html>